<div class="bg-gray-300 my-2 rounded-2xl flex flex-col md:grid md:grid-cols-5", id="item_<%= item.id %>">
    
    <div class="flex items-center justify-around col-span-3">
        <!-- Product Image -->
        <%= image_tag item.image, class: "w-40 rounded-full m-5 py-2 col-span-1" %>

        <div class="flex flex-col justify-around py-5 col-span-3">
            <h2 class="text-4xl font-bold"><%= item.name %></h2>

            <div class="flex flex-col">
                <p class="text-gray-700 font-semi-bold text-xl"><%= number_to_currency(item.price, precision: 2, unit: "R") %></p>
                <p class="text-gray-700 text-2xl"> Size: <%= item.size %> </p>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-3 items:center justify-center">
        <%= link_to "-", 'decrement_quantity_user_cart_path(@cart, product_id: item.product_color.id)', class: "flex items-center justify-center text-center text-bold text-4xl bg-gray-500 md:bg-none rounded-l-xl", data: { turbo_method: :post }, 'data-turbo-frame': 'cart-frame' %>
        <%= render "cart/quantity", quantity: item.quantity %>
        <%= link_to "+", 'increment_quantity_user_cart_path(@cart, product_id: item.product_color.id)', class: "flex items-center justify-center text-center text-bold text-4xl bg-gray-500 md:bg-quaternary rounded-r-xl", data: { turbo_method: :post }, 'data-turbo-frame': 'cart-frame' %>
    </div>

    <%= link_to "Remove",'remove_from_cart_product_path(item.product_color)', class: "bg-red-400 hover:bg-red-500 text-white text-xl text-center w-full my-2 font-bold py-2 rounded", data: { turbo_method: :post }, 'data-turbo-frame': 'cart-frame' %>
</div>

