<div class="flex flex-col mx-[20vw] justify-center h-full my-20">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="flex">
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", id: "first_name", required: true, placeholder: "Enter your first name", class: "w-full mr-2" %>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", id: "last_name", required: true, placeholder: "Enter your last name", class: "w-full ml-2" %>
  </div>

  <div class="my-2">
    <%= f.text_field :phone, autofocus: true, autocomplete: "phone", id: "phone", required: true, placeholder: "Enter your phone number", class: "w-full" %>
  </div>

  <div class="my-2">
    <%= f.text_field :address1, autofocus: true, autocomplete: "address1", id: "address1", required: true, placeholder: "Street address", class: "w-full" %>
  </div>

  <div class="my-2">
    <%= f.text_field :address2, autofocus: true, autocomplete: "address2", id: "address2", required: true, placeholder: "Suburb address", class: "w-full" %>
  </div>

  <div class="my-2">
    <%= f.text_field :city, autofocus: true, autocomplete: "city", id: "city", required: true, placeholder: "City", class: "w-full" %>
  </div>

  <div class="my-2">
    <%= f.text_field :state, autofocus: true, autocomplete: "state", id: "state", required: true, placeholder: "Province", class: "w-full" %>
  </div>

  <div class="my-2">
    <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", id: "postal_code", required: true, placeholder: "Postal code", class: "w-full" %>
  </div>
  
  <div class="my-2">
    <%= f.text_field :country, autofocus: true, autocomplete: "country", id: "country", required: true, placeholder: "Country", class: "w-full" %>
  </div>

  <div class="my-2">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "email", required: true, placeholder: "Enter your email", class: "w-full" %>
  </div>

  <div class="my-2">
    <%= f.password_field :password, autocomplete: "new-password", id: "password", required: true, placeholder: "Enter your password", class: "w-full" %>
  </div>

  <div class="my-2">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "password_confirmation", required: true, placeholder: "Confirm your password", class: "w-full" %>
  </div>

  <div class="flex flex-col items-center my-2">
    <%= f.submit "Sign up", class: "btn btn-primary bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 w-40 rounded cursor-pointer" %>
  </div>
<% end %>
</div>