<div id='product-modal' class='absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-8 rounded-lg shadow-2xl shadow-black'>
  <div class="w-full flex justify-between items-center">
    <h2 class="text-3xl font-bold text-center">Add Color</h2>
    <button id="close-add-modal" class="text-xl font-bold hover:text-gray-400">&times;</button>
  </div>

  <%= form_tag(create_category_path, method: :post, remote: true) do %> 
    <%= label_tag "Name", nil, style: "display: block", class: "font-bold w-full text-center" %>
    <%= text_field_tag "name", nil, class: "w-full", required: true %>

    <%= label_tag "Description", nil, style: "display: block", class: "font-bold w-full text-center" %>
    <%= text_area_tag "description", nil, class: "w-full", required: true %>

    <%= label_tag "Parent Category", nil, style: "display: block", class: "font-bold w-full text-center" %>
    <%= select_tag "category_id", options_for_select(Category.all.map { |c| [c.name, c.id] }.unshift(["None", nil])), class: "w-full"%>

    <%= label_tag "Image", nil, style: "display: block", class: "font-bold w-full text-center" %>
    <%= text_area_tag "image_url", nil, class: "w-full", required: true %>

    <div class="w-full flex justify-around mt-4 items-center">
      <%= submit_tag "Add", class: "bg-green-500 text-white p-2 rounded-lg w-1/2 hover:bg-green-400" %>
    </div>
  <% end %>
</div>

<script>
  document.getElementById('close-add-modal').addEventListener('click', function() {
    document.getElementById('product-modal').classList.add('hidden');
  });
</script>