<div id="user-content" class="h-full rounded-lg shadow-2xl shadow-black flex flex-col justify-center items-center">

<h1 class="text-3xl font-bold px-80 mb-20">HELP</h1>

<%= form_with(model: @help_message, url: help_messages_user_path, method: :post) do |form| %>
  <div>
    <%= form.text_field :name, required: true, autofocus: true, autocomplete: "name", placeholder: "Enter your name", class: "mb-4 min-w-[30vw] " %>
  </div>

  <div>
    <%= form.email_field :email, required: true, autocomplete: "email", placeholder: "Enter your email address", class: "mb-4 min-w-[30vw] " %>
  </div>

  <div>
    <%= form.text_area :message, required: true, placeholder: "Write your message here...", class: "mb-4 min-w-[30vw] min-h-[30vh]" %>
  </div>

  <div>
    <%= form.submit 'Send Message' %>
  </div>
<% end %>


</div>