<div id="returnables">
  <div class="flex flex-col items-center mx-2 mb:mx-0 md:flex-row mb:mb-4 md:w-full">
      <!-- Left Column: Product Image -->
      <div class="flex-shrink-0 border border-gray-200 rounded-md overflow-hidden md:p-4 w-40">
          <%= image_tag item.image_url, class: "w-40 h-40 md:w-40 md:h-40 object-cover rounded" %>
      </div>

      <!-- Right Column: Product Details -->
      <div class="ml-2 md:ml-4">
          <h3 class="text-lg font-semibold"><%= item.name %></h3>
          <p>Quantity: <%= item.quantity %></p>

          <% if item.size? %>
              <p >Size: <%= item.size %></p>
          <% end %>
          
          <p>Price: <%= number_to_currency(item.total_price, precision: 2, unit: "R") %></p>
          <% if not returnable %>
              <p>Item Status: <%= item.status %></p>
              <p>Return Policy: Return within 14 days </p>
          <% end %>
      </div>
  </div>

  <% if returnable %>
    <% if item.status == 'returned' || item.status == 'exchanged' %>
    <div class="ml-4 bg-green-500 flex flex-col items-center justify-center rounded-lg p-4">
      <% if item.status == 'returned' %>
        <p class="text-center"> Return has been requested </p>
      <% else %>
        <p class="text-center"> Exchange has been requested </p>
      <% end %>
      <p class="text-center"> Courier will come collect within 3-5 working days </p>
      <%= link_to "Cancel", cancel_return_user_path(item_id: item.id), class: "bg-black text-white px-4 py-2 rounded-lg shadow-lg hover:bg-gray-700 mt-2", data: { turbo_method: :post } %>
    </div>
    <% else %>
      <div class="flex justify-around mt-4 md:ml-4">
        <%= link_to "Return", return_user_path(item_id: item.id), class: "bg-black text-white px-4 py-2 rounded-lg shadow-lg hover:bg-gray-700", data: { turbo_method: :post } %>
        <%= link_to "Exchange", exchange_user_path(item_id: item.id), class: "bg-black text-white px-4 py-2 rounded-lg shadow-lg hover:bg-gray-700", data: { turbo_method: :post } %>
      </div>
    <% end %>
  <% end %>
</div>
