<div>
<div class="flex items-center mb-4">
    <!-- Left Column: Product Image -->
    <div class="flex-shrink-0 border border-gray-200 rounded-md overflow-hidden p-10">
        <%= image_tag item.product.image, class: "w-16 h-16 object-cover rounded" %>
    </div>

    <!-- Right Column: Product Details -->
    <div class="ml-4">
        <h3 class="text-lg font-semibold"><%= item.product.name %></h3>
        <p>Quantity: <%= item.quantity %></p>
        <% if item.product.category_id == 2 %>
            <p>Size: <%= item.product.size %></p>
        <% end %>
        
        <p>Price: <%= number_to_currency(item.product.price, precision: 2, unit: "R") %></p>
        <% if not returnable %>
            <p>Item Status: <%= item.status %></p>
            <p>Return Policy: Return within 14 days </p>
        <% end %>
    </div>
</div>

<% if returnable %>
    <div class="ml-4">
        <%= link_to "Return", '/', class: "bg-black text-white px-4 py-2 rounded-lg shadow-lg hover:bg-gray-700", data: { turbo_method: :post } %>
        <%= link_to "Exchange", '/', class: "bg-black text-white px-4 py-2 rounded-lg shadow-lg hover:bg-gray-700", data: { turbo_method: :post } %>
    </div>
<% end %>
</div>
