<nav class="p-4 h-[5vh]"> <!-- Navigation Links -->
    <ul class="flex items-center space-x-4">
        <% if user_signed_in? && current_user.admin? %>
            <!-- Admin Link -->
            <li>
                <%= link_to '/admin', class: "admin-link" do %>
                    <i class="fas fa-user-cog"></i> <!-- Adjust the Font Awesome class for the admin icon -->
                <% end %>
            </li>
        <% else %>
            <!-- Cart Icon -->
            <li>
                <%= link_to user_signed_in? ? user_cart_index_path(current_user) : new_user_session_path do %>
                    <span class="relative inline-block">
                        <!-- Cart Icon -->
                        <i class="fas fa-shopping-cart text-black"></i>

                        <!-- Cart Count Badge -->
                        <%#= render partial: "carts/cart_count" %>
                    </span>
                <% end %>
            </li>

            <!-- Wishlist Icon -->
            <li class="hidden md:block">
                <%= link_to user_signed_in? ? '/users/' + current_user.id.to_s + '/wishlist' : new_user_session_path do %>
                <i class="fas fa-heart text-black"></i>
                <% end %>
            </li>
        <% end %>

        <!-- Login Button -->
        <li class="hidden md:block">
            <% if user_signed_in? && current_user.admin? %>
                <%= link_to '/admin', class: "admin-link" do %>
                    <i class="fas fa-user-cog"></i> <!-- Adjust the Font Awesome class for the admin icon -->
                <% end %>
            <% elsif user_signed_in? %>
                <%= link_to user_path(current_user) do %>
                    <i class="fas fa-user text-black"></i>
                <% end %>
            <% else %>
                <%= link_to new_user_session_path do %>
                  <i class="fa fa-user" aria-hidden="true"></i>
                <% end %>
            <% end %>
        </li>

        <!-- Hambuger Menu -->
        <li class="md:hidden">
            <button id="menu-btn" class="text-black">
                <i class="fas fa-bars"></i>
            </button>
        </li>
    </ul>
</nav>

