<section class="container mx-auto py-10 grid grid-cols-3 gap-8 h-[85vh] items-base">
  <!-- First Column -->
  <div class="col-span-1 flex-col h-full my-20 items-center">
    <h1 class="text-7xl font-bold mb-40 text-primary">Elegance is good taste, plus a dash of daring </h1>

    <%= link_to "Shop With Us", products_path, class: "px-4 py-5 bg-primary text-quaternary rounded-md hover:bg-secondary text-3xl" %>
  </div>

  <!-- Second Column -->
  <div class="col-span-1 relative flex flex-col items-center relative h-2/3 overflow-hidden rounded-lg shadow-lg my-20 mx-20">
    <%= link_to root_path(@categories.first), class: "absolute inset-0 w-full h-full hover:opacity-75 transition-opacity duration-300 transition-transform hover:scale-105" do %>
      <%= image_tag @categories.first.image_url, class: "w-full h-full object-cover" %>
      <h2 class="absolute bottom-10 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-4xl font-semibold text-quaternary font-bold">
        <%= @categories.first.name %>
      </h2>
    <% end %>
  </div>

  <!-- Third Column -->
  <div class="col-span-1 flex flex-col items-center relative h-full overflow-hidden rounded-lg shadow-lg mx-10">
    <%= link_to root_path(@categories.second), class: "absolute inset-0 w-full h-full hover:opacity-75 transition-opacity duration-300 transition-transform hover:scale-105" do %>
      <%= image_tag @categories.second.image_url, class: "w-full h-full object-cover" %>
      <h2 class="absolute bottom-10 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-4xl font-semibold text-quaternary font-bold">
        <%= @categories.second.name %>
      </h2>
    <% end %>
  </div>
</section>