<div id="cart-modal" class"absolute top-1/2 left-1/2 bg-black">
    <ul class="flex flex-col items-center h-fill w-1/2 mx-auto my-10 border-2 border-gray-200 rounded-2xl px-20 py-10">
        <% cart.cart_products.each do |item| %>
            <li class="flex justify-between items-center w-full mb-10">
                <%= image_tag item.product.image, class: "w-20 h-20" %>
                <div class="flex flex-col items-center">
                <p class="text-xl font-bold"><%= item.product.name %></p>
                <p class="text-xl font-bold"><%= number_to_currency(item.product.price) %></p>
                </div>
                <div class="flex flex-col items-center">
                <p class="text-xl font-bold">Quantity: <%= item.quantity %></p>
                <p class="text-xl font-bold">Total: <%= number_to_currency(item.product.price) %></p>
                </div>
            </li>
        <% end %>
    </ul>

    <div class="flex flex-col items-center h-fill w-fill mx-auto my-10 border-2 border-gray-200 rounded-2xl px-20 py-10">
        <h2 class="text-4xl font-bold border-b border-gray-200 mb-20">Cart Summary</h2>
        <p class="text-4xl text-bold">Total Price: <%= number_to_currency(cart.total_price) %></p>

        <%= link_to "Checkout", root_path, class: "bg-gray-500" %>
    </div>
</div>

<script>
    console.log("Hello from cart pop up");

    setTimeout(() => {
        document.getElementById("cart-modal").classList.add("hidden");
    }, 2000);

</script>