<div class="bg-gray-200 my-2 rounded-2xl grid grid-cols-5">
    <!-- Product Image -->
    <%= image_tag item.product.image, class: "w-40 rounded-full m-5 py-2 col-span-1" %>

    <div class="flex flex-col justify-around py-5 col-span-3">
        <h2 class="text-4xl font-bold"><%= item.product.name %></h2>

        <div class="flex">
            <p class="text-gray-700 text-2xl"><%= number_to_currency(item.product.price, precision: 2, unit: "R") %></p>
            <p class="text-gray-700 text-2xl"> <% if item.product.category_id == 2 %>  Size: <%= item.product.size %> <% end %> </p>
            <%= link_to "Remove", remove_from_cart_product_path(item.product), class: "btn btn-primary mx-5 text-2xl", data: { turbo_method: :post } %>
        </div>
    </div>

    <div class="flex flex-col items-center justify-center">
        <button class="btn btn-primary">+</button>
        <p class="text-gray-700 text-2xl">Quantity: <%= item.quantity %></p>
        <button class="btn btn-primary">-</button>
    </div>
</div>