<div id="item_<%= item.id %>" class="bg-gray-200 my-2 rounded-2xl grid grid-cols-5">
    <!-- Product Image -->
    <%= image_tag item.image, class: "w-40 rounded-full m-5 py-2 col-span-1" %>

    <div class="flex flex-col justify-around py-5 col-span-3">
        <h2 class="text-4xl font-bold"><%= item.name %></h2>
        <p class="text-gray-700 text-2xl"> Size: <%= item.size %> </p>

        <div class="flex">
            <p class="text-gray-700 text-2xl"><%= number_to_currency(item.price, precision: 2, unit: "R") %></p>
            
            <%= link_to "Remove", wishlist_remove_path(product_id: item.id), class: "btn btn-primary mx-5 text-2xl", data: { turbo_method: :delete } %>
        </div>
    </div>
</div>

