<div class="w-50 md:w-80 rounded overflow-hidden shadow-lg m-5 transition-transform hover:scale-105 hover:z-0">
  <!-- Product Image -->
  <%= link_to product_path(product) do %>
    <%= image_tag product.image_urls.first, class: "w-full object-cover h-40 sm:h-60 w-60 sm:w-80 md:h-64" %>
  <% end %>  
  <div class="px-6 py-2">
    <div class="flex justify-between align-center">
      <h3 class="font-bold text-l"><%= product.name %></h3>
      <p class="text-gray-700 text-xs"><%= product.brand_name %></p>
    </div>  

    <div class="pb-2 flex justify-between">
      <div class="">
        <p class="text-gray-700 font-bold"><%= number_to_currency(product.price, precision: 2, unit: "R") %></p>
      </div>
      
      <div class="">
        <!-- add to wishlist button icons -->
        <%= link_to user_signed_in? ? add_to_wishlist_product_path(product) : new_user_session_path, data: { turbo_method: :post, action: "click->shop#addToWishlist" } do %>
          <i class="fas fa-heart text-red-500"></i>
        <% end %> 
      </div>
    </div>
  </div>
</div>