<turbo-frame id="products-frame">
<div class="mt-8">
  <!-- Product Details -->
  <div class="flex max-w-6xl mx-auto">
    <!-- Product Image -->
    <div class="w-1/2 pr-8">
      <%= image_tag @product.image, class: "w-full h-auto rounded-lg" %>
    </div>

    <!-- Product Information -->
    <div class="w-1/2">
      <div class="p-8">
        <h1 class="text-3xl font-bold mb-4"><%= @product.name %></h1>
        <p class="text-gray-700 mb-4"><%= @product.description %></p>
        <p class="text-gray-700 mb-4">In stock: <%= @product.stock %></p>
        <p class="text-gray-700 mb-4">Color: <%= @product.color %></p>
        <p class="text-gray-700 mb-4">Dimensions: <%= @product.dimensions %></p>
        <p class="text-3xl text-green-500 font-bold mb-4"><%= number_to_currency(@product.price, precision: 2, unit: "R") %></p>
      </div>

      <div class="flex items-center justify-between px-8 py-4 bg-gray-200">
        <!-- Add to Cart Button -->
        <%= link_to "Add to Cart", add_to_cart_product_path(@product), method: :post, class: "bg-green-500 text-white px-4 py-2 rounded-md", data: { turbo_method: :post } %>
        
        <!-- Add to Wishlist Button -->
        <%= link_to "Add to Wishlist", add_to_wishlist_product_path(@product), class: "bg-gray-500 text-white px-4 py-2 rounded-md" %>
      </div>
    </div>
  </div>

  <!-- Reviews Section -->
  <div class="flex flex-col justify-center items-center mx-auto mt-8">
  <h2 class="text-2xl font-bold mb-4">Customer Reviews</h2>

  <!-- Display Reviews -->
  <% if @product.reviews.any? %>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      <% @product.reviews.each do |review| %>
        <div class="bg-white p-4 rounded-lg shadow-md">
          <h3 class="text-lg font-bold mb-2"><%= review.rating %> Stars</h3>
          <p class="text-gray-700 mb-4"><%= review.message %></p>
          <!-- Additional review information can be added here -->
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No reviews yet. Be the first to leave a review!</p>
  <% end %>

  <!-- Add a Review Form -->
  <div class="mt-8">
    <h2 class="text-2xl font-bold mb-4">Add Your Review</h2>
    <%= render "reviews/form", review: @product.reviews.build %>
  </div>
</div>

</div>

<% if can? :manage, Product %>
<div>
  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= link_to "Back to products", products_path %>

  <%= button_to "Destroy this product", @product, method: :delete %>
</div>
</turbo-frame>
<% end %>
