<div id="<%= dom_id review %>">
  <p>
    <strong>Customer:</strong>
    <%= review.customer_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= review.product_id %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= review.message %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= review.image %>
  </p>

</div>
