<p style="color: green"><%= notice %></p>

<%= render @shipment %>

<div>
  <%= link_to "Edit this shipment", edit_shipment_path(@shipment) %> |
  <%= link_to "Back to shipments", shipments_path %>

  <%= button_to "Destroy this shipment", @shipment, method: :delete %>
</div>
