<nav class="p-4 h-[5vh]"> <!-- Navigation Links -->
    <ul class="flex items-center space-x-4">
        <!-- Cart Icon -->
        <li>
                <%= link_to user_signed_in? ? '/users/' + current_user.id.to_s + '/cart' : new_user_session_path do %>
                    <span class="relative inline-block">
                        <!-- Cart Icon -->
                        <i class="fas fa-shopping-cart text-black"></i>

                        <!-- Cart Count Badge -->
                        <%= render partial: "carts/cart_count" %>
                    </span>
                <% end %>
        </li>

        <!-- Wishlist Icon -->
        <li>
            <%= link_to user_signed_in? ? '/users/' + current_user.id.to_s + '/wishlist' : new_user_session_path do %>
            <i class="fas fa-heart text-black"></i>
            <% end %>
        </li>

        <!-- Login Button -->
        <li>
            <% if user_signed_in? && current_user.admin? %>
                <%= link_to '/admin', class: "admin-link" do %>
                    <i class="fas fa-user-cog"></i> <!-- Adjust the Font Awesome class for the admin icon -->
                <% end %>
            <% elsif user_signed_in? %>
                <%= link_to user_path(current_user) do %>
                    <i class="fas fa-user text-black"></i>
                <% end %>
            <% else %>
                <%= link_to "Login", new_user_session_path %>
            <% end %>
        </li>
    </ul>
</nav>
