<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Skuri</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-quaternary">
    <header class="h-[7vh] sticky top-0 flex justify-between items-center py-2 px-5 border-b border-primary shadow-b shadow-primary bg-quaternary z-30">
      <%= link_to "Skuri", root_path, class: "text-4xl font-bold" %>
      <%= render "layouts/navbar" %>
    </header>

    <main class="bg-quaternary min-h-[80vh]">
      <p id="alerts" />
      <!-- Mobile Menu -->
    <div id="mobile-menu" class="absolute top-0 left-0 w-full h-full bg-red-500 hidden md:hidden z-20">
        <ul class="flex flex-col items-center space-y-4">
            <li>
                <%= link_to user_signed_in? ? '/users/' + current_user.id.to_s + '/cart' : new_user_session_path do %>
                    <span class="relative inline-block">
                        <i class="fas fa-shopping-cart text-black"></i>
                        <%= render partial: "carts/cart_count" %>
                    </span>
                <% end %>
            </li>

            <li>
                <%= link_to user_signed_in? ? '/users/' + current_user.id.to_s + '/wishlist' : new_user_session_path do %>
                    <i class="fas fa-heart text-black"></i>
                <% end %>
            </li>

            <li>
                <% if user_signed_in? && current_user.admin? %>
                    <%= link_to '/admin', class: "admin-link" do %>
                        <i class="fas fa-user-cog"></i>
                    <% end %>
                <% elsif user_signed_in? %>
                    <%= link_to user_path(current_user) do %>
                        <i class="fas fa-user text-black"></i>
                    <% end %>
                <% else %>
                    <%= link_to "Login", new_user_session_path %>
                <% end %>
            </li>
        </ul>
    </div>
      <%= yield %>
    </main>

    <footer class="h-[13vh] bg-gray-800 text-white py-4">
      <div class="container mx-auto text-center">
        <!-- Footer Content -->
        <p>&copy; <%= Time.current.year %> Skuri. All rights reserved.</p>
        <p>Address | Phone | Email</p>

        <!-- Social Media Icons (replace with your own icons or links) -->
        <div class="flex justify-center space-x-4 mt-4">
          <a href="#" class="text-white hover:text-gray-400"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white hover:text-gray-400"><i class="fab fa-facebook"></i></a>
          <a href="#" class="text-white hover:text-gray-400"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>
